body {
    background-color: rgb(29, 155, 240);
    color: white;
    
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.dflex {
    display: flex;
}

.card {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    
}

.item {
    border: 1px solid white;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 200px;
    width: 300px;
    padding: 30px;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.b-start {
    align-self: start;
}

.fmt {
    margin-top: 40px;
}

/* CSS */
button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #F082AC;
}